@tailwind base;
@tailwind components;
@tailwind utilities;

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  color: blue;
}

a:focus,
a:hover {
  text-decoration: underline;
}

body {
  overflow-y: scroll;
}

th {
  text-align: left;
}

td,
th {
  padding: 0.75rem 1.5rem;
  border: 1px solid;
}

table {
  table-layout: fixed;
  width: 100%;
}

th {
  vertical-align: top;
}

input,
label {
  @apply cursor-pointer;
}

th:first-child,
td:first-child {
  width: 40px;
  padding: 0;
  text-align: center;
  vertical-align: middle;
}
